<footer class="bg-black border-t border-gray-200">
  <div class="max-w-7xl mx-auto py-5 px-4 sm:px-6 lg:px-8">
    <p class="text-center text-gray-300">&copy; 2025 Healthy App. All rights reserved.</p>
  </div>
</footer>
